.cardSliderContainer {
    position: relative;
    /* display: flex; */
    width: 100%;
    height: 80%;
    /* border: 2px solid red; */
    /* overflow: hidden; */
    margin-top: 10px;
}

.slide {
    position: absolute;
    width: 30%;
    height: 10rem;
    /* margin: auto; */
    /* border: 2px solid wheat; */
    border-radius: 10px;
    background: #181818;
    transition: transform 1s ease;
}

.FSlide {
    transform: translateX(10%);
}

.SSlide {
    transform: translateX(120%);
}

.TSlide {
    transform: translateX(230%);
}

.Nonactive {
    visibility: hidden;
}

.rButton {
    background: transparent;
    border: none;
    position: absolute;
    top: -30px;
    right: 20px;
}

.leftButton {
    right: 50px;
}

/* .rightButton {
    right: 29%;
} */