.main-main {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    /* border: 2px solid white; */
    box-sizing: border-box;
    position: relative;
}

.form-main-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #131417; */
    /* outline: 2px solid green; */
}

.form-container {
    /* outline: 2px solid blue; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 100%;
    column-gap: 1.5rem;
    /* outline: 2px solid yellow; */
}

.form {
    /* outline: 2px solid red; */
    display: grid;
    place-content: center;
    height: 50%;
    width: 100%;
    background: #3f4040;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 2px solid green; */
    padding: 0.5rem;
}

.input-field input {
    width: 50%;
}

.list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.single-list-category {
    /* border: 2px solid white; */
    width: fit-content;
    height: 4rem;
    margin: 0.5rem;
    background: #2C303A;
    border-radius: 0.25rem;
    transition: all 1s ease-in-out;
}

.errorBox {
    position: absolute;
    right: 2%;
    top: 3%;
    width: 15rem;
    height: 3rem;
    background: black;
    text-align: center;
    border-radius: 10px;
    transition: all 1s ease-in;
    padding: auto;
}