.main-sidebar-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60%;
    height: 100%;
    /* outline: 2px solid white; */
    transition: width 1s;
    background: #2C303A;
    border-radius: 0.25rem;
}

.main-sidebar-container:hover {
    width: 100%;
}

.sidebar-button-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}

.sidebar-button-container button {
    width: fit-content;
    height: 1rem;
}

.main-sidebar-container:hover+.sidebar-button-container span {
    color: white;
    visibility: visible;
}

.sidebar-button-container span {
    visibility: hidden;
}